<app-topo></app-topo>

<div *ngIf="boot; else aplicacao">
    <app-home (start)="iniciaAplicacao($event)"></app-home>
</div>

<ng-template #aplicacao>
    <div *ngIf="jogoEmAndamento; else fimDeJogo ">
        <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
    </div>
        
    <ng-template #fimDeJogo>
        <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col">
                    <h3 style="color: red"> Fim de jogo, Derrota :( </h3><br/>
                    <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar Jogo</button>
                </div>
            </div>
        </div>
    </ng-template>
    
    <ng-template #fimDeJogoVitoria>
        <div class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col">
                    <h3 style="color: green"> Fim de jogo, Vitoria :) </h3>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>