<div class="container">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col">
            <h1 class="display-4">Aprendendo ingles</h1>
            <p class="lead">Uma SPA feita em Angular com Bootstrap, que testa as suas habilidades da lingua inglesa ;) </p>
            <button class="btn btn-primary" (click)="iniciaAplicacao()"> Iniciar </button>
        </div>
        <div class="col">
          <div class="d-flex justify-content-end"><img src="/assets/icon.png" /></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-end">
              <span class="badge badge-danger">Angular</span>
              <span class="badge badge-dark">Bootstrap</span>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <!-- <div class="d-flex justify-content-end">by Erick Luz</div> -->
</div>